doctype html
head
    title title
    link(href='./css/style.css' rel='stylesheet')
h1 Click on the catto
article
    header
        h2 name
    figure
        img.big.small.trans(src='./img/cat.jpg')
    p
    p
script(src='./js/main.js')
